/*
* {
  outline: 1px solid red;
}
*/

$navbar-height: 56px;

.hero-height {
  height: 100vh;
}

.background-container {
  position: absolute;
  top: $navbar-height;
  left: 0;
  z-index: -1;
  width: 100%;
  height: calc(100vh - #{$navbar-height});
  background-color: hsl(5, 100%, 15%);
}

.background-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.4;
}

.navbar {
  min-height: $navbar-height;
}

section {
  padding-top: $navbar-height;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Amarante', cursive;
}

.brand {
  font-family: 'Amarante', cursive;
}

.header-color {
  background-color: hsl(0, 100%, 30%);
}

a {
  color: hsl(0, 100%, 30%);
}

a:hover {
  color: hsl(0, 100%, 40%);
}
